.wrapper {
    background-color: var(--background);
    padding: 16px;
}

.list-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

}

.list-image>img {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .list-image {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .wrapper {
        padding: 8px;
    }
}