.wrapper {
    background-color: var(--background);
    padding: 16px;
}



.list-card {

    border: 1px solid var(--background);
    width: 100%;
    /* để responsive */

    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    place-items: center;
    margin-top: 16px;

}

.foreign-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}