.wrapper {
    padding: 70px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    background: var(--background);
    overflow: visible;
}

.wrapper * {
    z-index: 2;
}