.wrapper {
    /* height: 300px; */
    /* padding: 49px 8px; */
    padding: 70px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    background: var(--background);
}

.wrapper * {
    z-index: 2;
}