.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-secondary);
  /* align-items: center; */
  /* Chiều cao tối thiểu toàn màn hình */
}

.header-container {
  background: var(--header-bg);
  padding: 0 24px;

}

.content {
  display: grid;
  grid-template-columns: 2fr 10fr;
  flex: 1;
  padding: 16px 24px 0;
  gap: 16px;
  height: var(--height-content);
  overflow: hidden;

}

.content>main {
  height: var(--height-main);
  /* background: var(--background); */
  /* padding: 16px; */
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  height: 100%;
  border-radius: 8px;
  /* Ngăn overflow phá layout */

}

.content> :first-child {
  /* background: var(--background); */
  /* Màu nền sidebar */
  /* padding: 16px; */
  overflow-y: auto;
  height: 100%;


}