.wrapper {
    position: relative;
    padding: 8px 16px;
    /* margin: 0 -8px; */
    background: var(--background);

    /* bù padding slide để không bị dư khoảng trắng ngoài slider */
}


/* Dot custom */

.wrapper :global(.slick-dots) {

    bottom: -28px;

}


.wrapper :global(.slick-dots > li) {
    width: 25px;
    height: 4px;
}


.wrapper :global(.slick-dots > li > button::before) {

    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
}


.wrapper :global(.slick-dots > li.slick-active > button::before) {
    background-color: var(--main-color);

}

.wrapper :global(.slick-dots li button:hover::before) {
    background-color: var(--main-color) !important;
}


.slideImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    padding: 0 8px;
}

/* Ẩn mũi tên mặc định */
.slickPrev,
.slickNext {
    z-index: 2;
}

.slickPrev::before,
.slickNext::before {
    display: none;
}

/* Nút custom */
.slickPrev,
.slickNext {
    width: 36px;
    height: 36px;
    background-color: white;
    color: var(--main-color);
    filter: var(--main-color);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.slickPrev {
    left: -18px;

}

.slickNext {
    right: -18px;
}

.slickNext:hover,
.slickPrev:hover {

    box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.2);



    background-color: white;
}


@media screen and (max-width: 768px) {

    .wrapper {
        padding: 8px 0px;
    }

    .slickPrev,
    .slickNext {
        width: 24px;
        height: 24px;
    }

    .slickPrev {
        left: 4px;

    }

    .slickNext {
        right: 4px;
    }

    .slideImage {
        padding: 0 2px;
    }


}