.footerCategories {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    border-top: 1px solid #e5e7eb;
    color: #333;
    font-size: 14px;
    color: var(--text-secondary);
    opacity: 0.8;


}

.category {
    display: flex;
    flex-direction: column;
}

.category:first-child {
    margin-top: 16px;
}

.title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: var(--text-secondary);

}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.links li {
    margin-bottom: 6px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    white-space: nowrap;
}

.links li:hover {
    color: #0070f3;
}