.footer {
    background: #fff;
    padding: 40px 20px;
    border-top: 1px solid #eee;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 24px;
}


.footerCol h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.footerCol ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerCol ul li {
    margin-bottom: 8px;
}

.footerCol ul li a {
    color: #333;
    text-decoration: none;
}

.footerCol ul li a:hover {
    text-decoration: underline;
}


.certificates img,
.payment img,
.payment svg,
.social svg,
.apps img {
    max-height: 40px;
    margin: 4px 8px;
}

.social img {
    width: 32px;
    height: 32px;
}

.apps img {
    height: 40px;
}

.logo_tikinow {
    width: 100px;

}