.footer {
    background: #fff;
    border-top: 1px solid #eee;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 16px;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 24px;
}



.footerCol h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.footerCol p {
    color: var(--text-secondary);
}

.footerCol ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerCol ul li {
    margin-bottom: 8px;
    color: var(--text-secondary);
    opacity: 0.8;
}

.footerCol ul li a {
    color: #333;
    text-decoration: none;
}

.footerCol ul li a:hover {
    text-decoration: underline;
}



.certificates img,
.payment img,
.payment svg,
.social svg,
.apps img {
    max-height: 40px;

}

.social img {
    width: 32px;
    height: 32px;
}

.apps img {
    height: 40px;
}

.logo_tikinow {
    width: 100px;

}

@media (max-width: 768px) {
    .footerContainer {

        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        align-content: center;
        padding: 8px;
    }


    /* padding: 8px; */
}