.wrapper {
    display: flex;
    padding: 16px;
    background: var(--background);
    gap: 16px;
    overflow-x: hidden;

}

.policy-img {
    width: 44px;
    border-radius: 12px;


}



.policy-item {
    text-align: center;
    cursor: pointer;

}

.policy-item>*+* {
    margin-top: 4px;
}