.wrapper {
    overflow-y: auto;

}


/* Chrome, Safari, Edge (Webkit) */
.wrapper::-webkit-scrollbar {
    display: none;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories>div {
    background-color: var(--background);
    padding: 16px;
    border-radius: 8px;
}

.categories-img {
    width: 32px;

}

.categories-button {
    display: flex;
    align-items: center;
    gap: 8px
}

.categories-title {
    font-weight: bold;
}